[submodule "dss"]
	path = dss
	url = https://github.com/makerdao/dss.git
	ignore = untracked
[submodule "deps/evm-semantics"]
	path = deps/evm-semantics
	url = https://github.com/kframework/evm-semantics
	ignore = untracked
[submodule "deps/klab"]
	path = deps/klab
	url = https://github.com/makerdao/klab
	ignore = untracked
